@page "/clasificaciones"
@inject HttpClient _http;
@inject NavigationManager _navegar;
<h3>Clasificaciones</h3>

@if (cargando)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else
{
    @if (lasclasificaciones.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Clasificacion clasificacion in lasclasificaciones)
                {
                    <tr>
                        <td>@clasificacion.Nombre</td>
                        <td>
                            <button class="btn btn-sm" @onclick="()=>Eliminar(clasificacion.Id)"><span class="oi oi-trash"></span></button>
                            <button class="btn btn-sm" @onclick="()=>Modificar(clasificacion.Id)"><span class="oi oi-pencil"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No existen clasificaciones registradas</h2>
    }
}

@code {
    private List<Clasificacion>? lasclasificaciones = new();
    private bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        lasclasificaciones = await _http.GetFromJsonAsync<List<Clasificacion>>("api/Clasificaciones");
        cargando = false;
    }

    private async Task Eliminar(int id)
    {
        cargando = true;
        await _http.DeleteAsync($"api/Clasificaciones/{id}");
        await Cargar();
    }

    private void Modificar(int id)
    {
        _navegar.NavigateTo($"/editar/Clasificacion/{id}");
    }
}
