@page "/nueva"
@page "/nueva/{Id:int}"
@inject HttpClient _http;
@inject NavigationManager _navegador;

<h3>@letrero Persona</h3>

<EditForm Model="lapersona" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="lapersona.Nombre" />
            <ValidationMessage For="()=>lapersona.Nombre" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtCorreo" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
            <InputText id="txtCorreo" class="form-control" @bind-Value="lapersona.Correo" />
            <ValidationMessage For="()=>lapersona.Correo" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtTelefono" class="col-sm-2 col-form-label">Teléfono</label>
        <div class="col-sm-10">
            <InputText id="txtTelefono" class="form-control" @bind-Value="lapersona.Telefono" />
            <ValidationMessage For="()=>lapersona.Telefono" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtClasificacion" class="col-sm-2 col-form-label">Clasificación</label>
        <div class="col-sm-10">
            <InputSelect id="txtClasificacion" class="form-control" @bind-Value="lapersona.ClasificacionId">
                @foreach (Clasificacion clasificacion in lasclasificaciones)
                {
                    <option value="@clasificacion.Id">@clasificacion.Nombre</option>
                }
            </InputSelect>
            <ValidationMessage For="()=>lapersona.ClasificacionId" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtHabito" class="col-sm-2 col-form-label">Hábitos</label>
        <div class="col-sm-10">
            <InputSelect id="txtHabito" class="form-control" @bind-Value="habitosseleccionados" multiselect="true">
                @foreach (Habito habito in loshabitos)
                {
                    <option value="@habito.Id">@habito.Nombre</option>
                }
            </InputSelect>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
    <button class="btn btn-danger" @onclick="Cancelar">Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private Persona lapersona = new();
    private string letrero = "Nueva";
    private List<Clasificacion> lasclasificaciones = new();
    private List<Habito> loshabitos = new();
    private string[] habitosseleccionados = new string[0];

    protected override async Task OnParametersSetAsync()
    {
        lasclasificaciones = await _http.GetFromJsonAsync<List<Clasificacion>>("api/Clasificaciones");
        loshabitos = await _http.GetFromJsonAsync<List<Habito>>("api/habitos");
        if (Id == 0)
        {
            letrero = "Nueva";
            lapersona = new();
            lapersona.ClasificacionId = lasclasificaciones[0].Id;
        }
        else
        {
            letrero = "Modificar";
            lapersona = await _http.GetFromJsonAsync<Persona>($"api/personas/{Id}");
        }
    }

    private async void Guardar()
    {
        if (Id == 0)
        {
            if (habitosseleccionados.Length > 0)
            {
                lapersona.Habitos = new List<Habito>();
                foreach (string idseleccionado in habitosseleccionados)
                {
                    lapersona.Habitos.Add(loshabitos.Find(r => r.Id == Int32.Parse(idseleccionado)));
                }
            }
            await _http.PostAsJsonAsync<Persona>("api/personas", lapersona);
        }
        else
        {
            await _http.PutAsJsonAsync<Persona>($"api/personas/{Id}", lapersona);
        }
        _navegador.NavigateTo("/");
    }

    private void Cancelar()
    {
        _navegador.NavigateTo("/");
    }

    // Evento de cambio en la selección
    private void SelectionChanged(ChangeEventArgs e)
    {
        habitosseleccionados = ((string[])e.Value) ?? new string[0];
    }
}
